*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#main-doc{
    width: 100%;
}

#main-doc div{
    display: block;
}

#main-doc .main-section{
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid red;
    width: 20%;
    height: 800px;
    margin: auto;
}

#main-doc .content{
    width: 80%;
    height: 800px;
    margin: auto;
    border: 1px solid blue;
}


    